* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

#About {
    background: linear-gradient(#f9ed32,#fbb040);
    width: 100%;
    height: 80vh;
}


.about-cont { 
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: auto;
}

.about-cont .left-side {
    display: flex;
    flex-direction: column;
}

.about-cont .right-side {
    display: flex;
}

.about-header {
    font-size: 55px;
    margin-left: 100px;
    padding-top: 150px;
    color: white;
}

.about-cont .left-side .about-pg {
   width: 50%;
   margin-bottom: 10px;
   font-size: 18px;
   color: white;
}


//bio text/image
.about-cont .photo-box {
    height: 29em;
    width: 23em;
    position: relative;
    display: flex;
    right: 55%;
}


@media only screen and (max-width: 500px) {
    #About {
        height: auto;
    }

    .about-header {
        font-size: 40px;
        padding-top: 20px;
        width: 90%;
    }
    .about-cont { 
        margin-left: 50px;
        display: flex;
        flex-direction: column-reverse;
        min-width: 100%;
        height: auto;
    }

    .about-cont .left-side {
        width: 100%;
        padding-top: 30px;
    }

    .about-cont .left-side .about-pg {
        width: 76%;
        font-size: 16px;
        margin-top: 10px;
    }

    .about-cont .right-side {
        display: flex;
    }

    .about-cont .right-side .photo-cont {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .about-cont .photo-box {
        height: 23em;
        width: 18em;
        position: relative;
        display: flex;
        right: 12%;
    }


    
}











