* {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

#About {
    background: linear-gradient(#f9ed32,#fbb040);
    width: 100%;
    height: 101vh;
}


.about-cont { 
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: auto;
}

.about-cont .left-side {
    display: flex;
    flex-direction: column;
}

.about-cont .right-side {
    display: flex;
}

.about-header {
    font-size: 55px;
    margin-left: 100px;
    padding-top: 150px;
    color: white;
}

.about-cont .left-side .about-pg {
   width: 50%;
   margin-bottom: 10px;
   font-size: 18px;
   color: white;
}


//bio text/image
.about-cont .photo-box {
    height: 29em;
    width: 23em;
    position: relative;
    display: flex;
    right: 55%;
}


@media only screen and (max-width: 500px) {
    .about-container {
        margin-left: 40px;
        flex-direction: column;
    }
    .about-tab {
        width: 100%;
        margin-left: 20px;
        margin-bottom: 0;
        font-size: 20px;
    }
    .about-container .about-desc {
        margin-top: 20px;
        width: 90%;
    }
    //bio text/img
    .about-container .photo-box img {
        height: 18em;
        width: 13em;
        flex-direction: row;
        margin-top: 60px;
    }

    .about-container .left-side {
        width: 100%;
        flex-direction: row;
    }

    .about-container .right-side {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 0;
    }
    
}











