 .contact-form {
     display: flex;
     flex-direction: column;
 }


.message {
    display: flex;
    flex-direction: column;
}


input {
    display: flex;
    width: 25vw;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}
textarea {
    width: 25vw;
    height: 70px;
    border: 1px solid black;
    margin-top: 10px;
}

textarea::placeholder {
    padding-left: 3px;
}

.placeholder::placeholder {
    padding-left: 3px;
}


// @media only screen and (max-width: 500px) {
//     input {
//         width: 100%;
//         margin-left: 60px;
//     }
//     textarea {
//         width: 100%;
//         margin-left: 60px;
//     }
//     label {
//         margin-left: 60px;
//     }
// }

