.contact-cont {
    margin-left: 80px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.contact-cont .contact-title {
    color: #DF1016;
    font-size: 30px;
    font-weight: bold;
    margin-top: 90px;
    display: flex;
}
.cont-contain .contact-info .contact-email {
    font-size: 28px;
    color:#DF1016;
    font-weight: 500;
}
.contact-git {
    color: black;
    // text-decoration: underline;
    font-size: 34px;
    margin-bottom: 25px;
    // margin-top: 60px;
}
.contact-desc {
    line-height: 34px;
    // margin-top: 10px;
    font-size: 18px;
    padding-right: 20px;
}
.contact-button {
    border-color: #DF1016;
    border-width: 2px;
    background-color: white;
    color: #DF1016;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 75px;
    margin-left: 62.3%;
}
.line-3 {
    background-color: black;
    width: 83%;
    height: 3px;
    margin-left: 50px;
    margin-top: 23px;
    display: flex;
}
.contnum {
    color: black;
    margin-right: 15px;
    margin-top: 0;
}
.cont-contain {
    display: flex;
    height: 70vh;
}
.cont-contain .contact-info {
    margin-left: 160px;
    margin-right: 200px;
}
.cont-contain .contact-info .contact-email {
    font-size: 20px;
    font-weight: bold;
}
.cont-contain .contact-box {
    padding-top: 90px;
    width: 50%;
}

@media only screen and (max-width: 500px) {
    .contact-cont {
        margin-left: 20px;
        width: 100%;
    }
    .contact-cont .contact-title {
        font-size: 20px;
        margin-top: 80px;
    }
    .contact-git {
        font-size: 22px;
        margin-top: 30px;
    }
    .contact-desc {
        line-height: 32px;
        margin-top: 20px;
        width: 100%;
    }
    .contact-button {
        height: 30px;
        width: 75px;
        margin-left: 62.3%;
    }
    .line-3 {
        width: 60%;
		margin-top: 13px;
		margin-left: 13px;
    }
    
    .cont-contain {
        display: flex;
        flex-direction: column;
        height: 130vh;
    }
    .cont-contain .contact-info {
        margin-left: 30px;
        margin-right: 10px;
        text-align: center;
    }
    .cont-contain .contact-box {
        padding-top: 60px;
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
}


