.hero {
    height: 97vh;
}
.about {
    height: auto;
}
.languages {
    height: 75vh;
}
.work {
    height: auto;
    
}
.contact {
    height: 60vh;
}

@media only screen and (max-width: 500px) {
    .hero {
        height: 85vh;
    }
    // .about {
    //     height: 155vh;
    // }
    // .work {
    //     height: 103vh;
    // }
    .languages {
        height: 35vh;
    }
}




