 .contact-form {
     display: flex;
     flex-direction: column;
 }



.message {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 800;
}

.form-title {
    font-size: 17px;
    font-weight: 800;
}


input {
    display: flex;
    width: 26vw;
    height: 3vh;
    margin-top: 10px;
    margin-bottom: 20px;
}
textarea {
    width: 26vw;
    height: 8vh;
    margin-top: 10px;
}

textarea::placeholder {
    padding-left: 3px;
    padding-top: 5px;
}

.placeholder::placeholder {
    padding-left: 3px;
}


// @media only screen and (max-width: 500px) {
//     input {
//         width: 100%;
//         margin-left: 60px;
//     }
//     textarea {
//         width: 100%;
//         margin-left: 60px;
//     }
//     label {
//         margin-left: 60px;
//     }
// }

