.hero {
    height: 100vh;
}
.languages {
    height: 75vh;
}
.work {
    height: 100vh;
}
.contact {
    height: 100vh;
}

@media only screen and (max-width: 500px) {
    .hero {
        height: 70vh;
    }
    .work {
        height: 103vh;
    }
    .languages {
        height: 35vh;
    }
}




