.footer-cont {
    position: fixed;
    display: inline;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
}
.icons {
    display: inline-flex;
    flex-direction: column;
}

.icons .linkedin {
    width: 38px;
}
.icons .medium_icon {
    width: 36px;
}

.icons img {
    margin-bottom: 20px;
    margin-left: 25px;
    width: 36px;
    height: 34px;
}
.vl {
    border-left: 4px solid white;
    height: 200px;
    position: relative;
    left: 3.5%;
    margin-left: 40px;
    bottom: 0;
}
.bottom-cont {
    display: flex;
    justify-content: flex-end;
    background-color: #00ff8f;
    width: 100%;
}
.bottom-cont .copyright {
    display: flex;
    background-color: #00ff8f;
    padding-right: 2em;
    padding-bottom: 1em;
}

@media only screen and (max-width: 500px) {
    .vl {
        display: none;
    }
    .icons {
        flex-direction: row;
        // margin-left: 95px;
        display: flex;
        justify-content: center;
        position: sticky;
    }
    .bottom-cont {
       display: none;
    } 
    .bottom-cont .copyright {
        display: none;
    }
    .footer-cont {
        display: none;
    }
    .headroom {
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

    }
}


