* {
  padding: 0;
  margin: 0;
}

.hero-cont {
  text-align: center;
}

.hero-cont .fullscreen-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -100;
}

.hero-cont .fullscreen-bg_video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


.container {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 18em;
  justify-content: center;
}

.container h1 {
  font-size: 100px;
}

.hero-cont .mobile-photo {
  display: none;
}

.container p {
  font-size: 40px;
  margin-top: 20px;
  font-weight: 400;
}

.arrow-cont {
  display: flex;
  justify-content: center;
}

.arrow,
.arrow:before {
  position: absolute;
}
  

.arrow {
  width: 30px;
  height: 30px;
  bottom: 18%;
  margin: -20px 0 0 -20px;
  border-left: none;
  border-top: none;
  border-right: 3px white solid;
  border-bottom: 3px white solid;
  transform: rotate(45deg);
}

  
.arrow:before {
  content: '';
  width: 20px;
  height: 20px;
  bottom: 10%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 2px white solid;
  border-bottom: 2px white solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
  
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }

}

@media only screen and (max-width: 500px) {
  .container {
    width: 100%;
    transform: none;
    margin-top: 10em;
    position: absolute;
  }

  .fullscreen-bg {
    display: none;
  }

  .hero-cont .mobile-photo {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
  }

  .container .name-title {
    font-size: 50px;
    
  }

  .hero-cont .hero-desc {
    font-size: 26px;
  }

  .arrow {
    display: none;
  }

}

// @media only screen and (max-width: 1191px) {
//   .fullscreen-bg_video {
//     display: none;
//   }
//   .hero-cont .mobile-photo {
//     display: flex;
//     max-width: 100%;
//   }
// }



