* {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

.lang-cont {
    max-width: 100%;
    height: 100%;
    color: white;
    background-color:#fbb040;
}

.lang-cont .skills {
    display: flex;
    justify-content: center;
    font-size: 25px;
    line-height: 45px;
}
.skill-bar {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 13%;
    padding-top: 120px;
    margin-bottom: 80px;
}
.skills .left-skills {
    flex-direction: column;
    display: inline-block;
}
.skills .right-skills {
    flex-direction: column;
    padding-left: 160px;
    display: inline-block;
}

.skills .center-skills {
    flex-direction: column;
    display: inline-block;
    padding-left: 160px;
}

@media only screen and (max-width: 500px) {
    .lang-cont {
        border: none;
        width: fit-content;
        height: auto;
    }
    .skills {
        display: flex;
        flex-direction: row;
        padding-bottom: 60px;
        width: 90%;
    }
    .skill-bar {
        font-size: 20px;
        padding-top: 20px;
        margin-bottom: 50px;
    }
    .skills .left-skills {
        padding-inline-start: 0;
        margin-left: 50px;
        font-size: 16px;
        line-height: 20px;
    }


    .skills .center-skills {
        font-size: 16px;
        padding-left: 15px;
        line-height: 20px;

    }
    .skills .right-skills {
        margin-left: 15px;
        font-size: 16px;
        line-height: 20px;

    }

    /* .arrow {
        padding: 3px;
        margin-right: 10px;
    } */
    .lang-icon {
        margin-left: 5px;
    }
   
}



