#flyoutMenu {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

#flyoutMenu.hide {
    transform: translate3d(-100vw, 0, 0);
}

#flyoutMenu.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}

#flyoutMenu h2 .link {
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 40px;
}

@media only screen and (max-width: 500px) {
    #flyoutMenu {
        width: 100vw;
        height: 100vh; 
        top: 0.5%;
    }

    #flyoutMenu h2 .link {
        font-size: 18px;
    }

    #flyoutMenu.hide {
        transform: translate3d(-100vw, 0, 0);
    }

    #flyoutMenu.show {
        transform: translate3d(-10vw, 0, 0);
        overflow: hidden;
    }
    
}
