* {
  text-decoration: none;
  scroll-behavior: smooth;
}

.hamburger-menu {
  z-index: 1;
  display: flex;
  margin-top: 20px;
}


@media only screen and (max-width: 500px) {
  .hamburger-menu {
    display: flex;
    margin-top: 0;
  }
}