* {
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.nav {
    display: inline-flex;
    background-color: transparent;
    border-bottom: 1px solid lightgrey; 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: flex-end;
    height: auto;
    max-width: 100%;
    z-index: 1;
}
.nav-list {
    margin-top: 30px;
    display: inline-flex;
    flex-direction: row;
}

.nav-name {
    color: #DF1016;
    font-weight: 400;
    font-size: 50px;
    font-family: 'Monoton', cursive;
    display: inline-flex;
    position: fixed;
    top: 0;
    margin-top: 10px;
    margin-left: 20px;
}


.nav .nav-list li {
    display: table-cell;
    position: relative;
    font-size: 20px;
    font-weight: 600;
}

.resume-tab {
    color: black;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    margin-right: 45px;
}
.resume-tab:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #DF1016;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.resume-tab:hover:after { 
    width: 100%; 
    left: 0; 
  }
.nav .nav-list p {
    color: #DF1016;
    font-size: 20px;
    font-weight: bold;
    margin-block-start: 0; 
    margin-block-end: 0;
    margin-right: 10px;
}
.nav .resume-button {
    display: flex;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #393939;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 5em;
    height: 2.6em;
    border-width: 2px;
    box-shadow: 0px 0px .9px 0px;
    cursor: pointer;
}
.nav .resume-button a {
    text-decoration: none;
    color: black;
    margin-left: 2px;
}

@media only screen and (max-width: 500px) {
    .nav {
        // height: 80px;
        max-width: 100%;
    }
    .nav .nav-name {
        flex-direction: column;
        margin-right: 0;
        margin-left: 45%;
        margin-top: 5px;
        margin-bottom: -5px;
    }
    .nav .nav-list {
        flex-direction: column;
        display: flex;
        margin-block-start: 0;
        width: 100%;
    }
    .nav .nav-list li {
        width: 100%;
        padding-bottom: 10px;
        background-color: #DF1016;
        border: 1px solid white;
        border-left: none;
    }
    .nav .nav-list p {
        display: none;
    }
    .nav .resume-tab {
        color: white;
        margin-top: 10px;
        font-size: 25px;
        justify-content: center;
        margin-right: 0;
    }
    .nav .resume-button {
        display: none;
        // margin-left: 7em;
        // height: 80px;
        // width: 0px;
        // border-left: 1px solid #DF1016;
        // border-right: 1px solid #DF1016;
        // border-top: none;
        // border-bottom: none;
        // margin-top: 0px;
        // background-color: #DF1016;
    }
    .nav .resume-button a {
        color: white;
        font-size: 30px;
    }
    .res-button-cont {
        background-color: #DF1016;
    }

  }
  

