* {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

.fullscreen-lang {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-lang_video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.project-header {
    font-size: 55px;
    margin-left: 150px;
    padding-top: 150px;
    color: white;
}

.work-cont {
	height: auto;
	flex-wrap: wrap;
	// position: relative;
}

.cont-cont {
	display: flex;
	flex-direction: row;
	height: auto;
}

.cont-cont .project-1 {
	display: flex;
	width: 50%;
	height: auto;
	margin-top: 100px;
	margin-left: 150px;
	margin-bottom: 120px;
}

.cont-cont .project-2 {
	margin-top: 100px;
	display: flex;
	width: 50%;
	height: auto;
	margin-left: 40px;
	margin-bottom: 120px;
}

 //images
.cont-cont .project-1 .project-img img {
	width: 600px;
	height: 425px;
	position: relative;
}

.cont-cont .project-2 .project-img img {
	width: 600px;
	height: 425px;
	position: relative;
}


//desc
.project-desc {
	position: absolute;
	text-align: center;
	flex-direction: column;
	display: flex;
	margin-left: 8%;
}

.project-title {
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 40px;
}

//lang bar
// .project-1-desc .languages-bar {
// 	text-decoration: underline;
// 	padding-top: 20px;
// 	font-weight: 600;
// 	padding-bottom: 15px;
// }
// .project-2-desc .languages-bar {
// 	text-decoration: underline;
// 	padding-top: 20px;
// 	font-weight: 600;
// 	padding-bottom: 15px;
// }

.lang-con {
	font-size: 20px;
	font-weight: 800;
}

.icon-cont {
	display: flex;
}

.icon-cont img {
	width: 35px;
	margin-right: 15px;
	margin-bottom: 28px;
}
.icon-cont .css-icon {
	margin-top: 13px;
	height: 32px;
}

.button-cont {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.github-button {
	border: 3px solid black;
	background-color: transparent;
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: black;
}
.link-button {
	border: 3px solid black;
	background-color: transparent;
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: black;
	margin-right: 50px;
}
// .bold-skills {
// 	font-weight: 800;
// 	display: inline-flex;
// }


@media only screen and (max-width: 500px) {
	.work-cont {
		width: 100%;
	}
	.cont-cont {
		height: auto;
		display: table-cell;
	}
	.cont-cont .project-1 { 
		position: relative;
		flex-direction: column;
		height: auto;
		margin-left: 20px;
		display: flex;
	}
	.cont-cont .project-2 {
		position: relative;
		flex-direction: column-reverse;
		height: auto;
		margin-top: 60px;
		margin-left: 20px;
		display: flex;
	}

	//images
	.cont-cont .project-1 .project-1-img img {
		width: 330px;
		height: 200px;
		display: flex;
	}
	.cont-cont .project-2 .project-2-img img {
		width: 330px;
		height: 200px;
		display: flex;
	}

	//desc 
	.cont-cont .project-1 .project-1-desc {
		display: flex;
		flex-direction: column;
		margin-left: 0;
		margin-right: 10px;
	}
	.cont-cont .project-2 .project-2-desc {
		padding-right: 0px;
	}
	.cont-cont .project-1 .project-1-desc p{
		margin-top: 0px;
		margin-bottom: 3px;
		text-align: center;
	}
	.cont-cont .project-2 .project-2-desc p{
		margin-top: 0px;
		margin-bottom: 3px;
		text-align: center;
	}
	.cont-cont .project-1 .project-1-desc .rouge-title {
		margin-top: 15px;
		display: flex;
		justify-content: center;
		margin-bottom: 25px;
	}
	.cont-cont .project-2 .project-2-desc .pinch-title {
		margin-top: 15px;
		display: flex;
		justify-content: center;
		margin-bottom: 25px;
	}

	.icon-cont {
		justify-content: center;
		width: auto;
		height: auto;
	}
	
	.icon-cont .css-icon {
		margin-top: 0px;
		width: 32px;
		height: 32px;
	}

.icon-cont img {
	width: 30px;
	height: 32px;
	margin-right: 15px;
	margin-bottom: 28px;
}
.button-cont {
	margin-left: 30px;
}
}


@media only screen and (max-width: 500px) {
	.work-cont {
		width: 100%;
	}
	.cont-cont {
		height: auto;
		display: table-cell;
	}
	.cont-cont .project-1 { 
		position: relative;
		flex-direction: column;
		height: auto;
		margin-left: 20px;
	}
	.cont-cont .project-2 {
		position: relative;
		flex-direction: column-reverse;
		height: auto;
		margin-top: 60px;
		margin-left: 20px;
	}

	//images
	.cont-cont .project-1 .project-1-img img {
		width: 330px;
		height: 200px;
	}
	.cont-cont .project-2 .project-2-img img {
		width: 330px;
		height: 200px;
	}

	//desc 
	.cont-cont .project-1 .project-1-desc {
		display: flex;
		flex-direction: column;
		margin-left: 0;
		margin-right: 10px;
	}
	.cont-cont .project-2 .project-2-desc {
		padding-right: 0px;
	}
	.cont-cont .project-1 .project-1-desc p{
		margin-top: 0px;
		margin-bottom: 3px;
		text-align: center;
	}
	.cont-cont .project-2 .project-2-desc p{
		margin-top: 0px;
		margin-bottom: 3px;
		text-align: center;
	}
	.cont-cont .project-1 .project-1-desc .rouge-title {
		margin-top: 15px;
		display: flex;
		justify-content: center;
		margin-bottom: 25px;
	}
	.cont-cont .project-2 .project-2-desc .pinch-title {
		margin-top: 15px;
		display: flex;
		justify-content: center;
		margin-bottom: 25px;
	}

	.icon-cont {
		justify-content: center;
		width: auto;
		height: auto;
	}
	
	.icon-cont .css-icon {
		margin-top: 0px;
		width: 32px;
		height: 32px;
	}

.icon-cont img {
	width: 30px;
	height: 32px;
	margin-right: 15px;
	margin-bottom: 28px;
}
.button-cont {
	margin-left: 30px;
}
}














