* {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

.fullscreen-lang {
	position: absolute;
	width: 100%;
	height: 100%;
    overflow: hidden;
	z-index: -100;
}

.fullscreen-lang_video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.project-header {
    font-size: 3em;
    margin-left: 2em;
    padding-top: 2em;
    color: white;
}

.work-cont {
	max-width: 100%;
}

.cont-cont {
	display: flex;
	flex-flow: row wrap;
	row-gap: 20px;
	margin-left: 5em;
	margin-right: 4em;
	padding-top: 4em;
	padding-bottom: 5em;
	justify-content: space-around;
}

.cont-cont .project-1 {
	display: flex;
	justify-content: center;
	color: white;

}

.cont-cont .project-2 {
	display: flex;
	justify-content: center;
	color: white;
	
}
.cont-cont .first-project {
	display: flex;
	justify-content: center;
	color: white;
}

 //images
.cont-cont .project-img img {
	width: 30em;
	height: 100%;
	border-radius: 6px;
	box-shadow: 0px 1px 4px darkgrey;
}

//desc
 .project-desc {
	position: absolute;
	text-align: center;
	flex-direction: column;
	display: flex;
}

.project-title {
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-size: 40px;
}

.lang-con {
	font-size: 20px;
	font-weight: 800;
}

.button-cont {
	display: flex;
	justify-content: space-evenly;
	margin-top: 3em;
}
.github-button {
	border: 3px solid white;
	color: white;
	background-color: transparent;
	width: 7em;
	height: 2.2em;
	font-size: 16px;
	font-weight: bold;
}
.link-button {
	border: 3px solid white;
	background-color: transparent;
	width: 7em;
	height: 2.2em;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.wp-button {
	border: 3px solid white;
	background-color: transparent;
	width: 7em;
	height: 2.2em;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.work-mobile {
	display: none;
}


@media only screen and (max-width: 500px) {
	.work-cont {
		width: auto;
		height: 100%;
		display: flex;
		justify-content: center;
	}
	.project-desc {
		justify-content: center;
	}
	.cont-cont {
		height: auto;
		width: auto;
		display: flex;
		flex-direction: column;
	}

	.project-header {
		font-size: 40px;
		padding-top: 40px;
		margin-left: 0;
	}
	.cont-cont .project-1 { 
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 20px;
	}
	.cont-cont .project-2 {
		margin-top: 5px;
		margin-left: 0;
	}

	.cont-cont .first-project {
		margin-top: 5px;
		margin-left: 0;
	}
	.cont-cont .project-1 .project-img img {
		width: 320px;
		height: 270px;
	}
	
	.cont-cont .project-2 .project-img img {
		width: 320px;
		height: 270px;
	}

	.cont-cont .first-project .project-img img {
		width: 320px;
		height: 270px;
	}

	.cont-cont .project-desc .project-title {
		font-size: 25px;
		margin-top: 50px;
	}
.button-cont {
	margin-top: 40px;
}

.fullscreen-lang {
	display: none;
}

.lang-con {
	font-size: 17px;
}

.github-button {
	width: 90px;
	height: 35px;
	font-size: 15px;
	border: 3px solid white;
	color: white;
}
.link-button {
	width: 90px;
	height: 35px;
	font-size: 15px;
	margin-right: 20px;
	border: 3px solid white;
	color: white;
}

#Work {
	background-image: url("https://i.imgur.com/zvyLXw1.jpg");
	background-size: cover;
}
}

	
	

	


















