* {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

// @media (min-aspect-ratio: 16/9) {
// 	.fullscreen-lang {
// 	  height: auto;
// 	  width: 100%;
// 	}
//   }
  
//   @media (max-aspect-ratio: 16/9) {
// 	.fullscreen-lang .fullscreen-lang_video {
// 	  width: auto;
// 	  height: 100%;
// 	}
//   }

.fullscreen-lang {
	position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-lang_video {
    position: relative;
    top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}

.project-header {
    font-size: 55px;
    margin-left: 150px;
    padding-top: 150px;
    color: white;
}

.work-cont {
	height: auto;
	flex-wrap: wrap;
}

.cont-cont {
	display: flex;
	flex-direction: row;
	height: auto;
}

.cont-cont .project-1 {
	display: flex;
	width: 50%;
	height: auto;
	margin-top: 100px;
	margin-left: 150px;
	margin-bottom: 120px;
}

.cont-cont .project-2 {
	margin-top: 100px;
	display: flex;
	width: 50%;
	height: auto;
	margin-left: 40px;
	margin-bottom: 120px;
}

 //images
.cont-cont .project-1 .project-img img {
	width: 600px;
	height: 425px;
	position: relative;
}

.cont-cont .project-2 .project-img img {
	width: 600px;
	height: 425px;
	position: relative;
}


//desc
.project-desc {
	position: absolute;
	text-align: center;
	flex-direction: column;
	display: flex;
	margin-left: 8%;
}

.project-title {
	margin-top: 70px;
	margin-bottom: 30px;
	font-size: 40px;
}

.lang-con {
	font-size: 20px;
	font-weight: 800;
}

.button-cont {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.github-button {
	border: 3px solid black;
	background-color: transparent;
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: black;
}
.link-button {
	border: 3px solid black;
	background-color: transparent;
	width: 100px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	color: black;
	margin-right: 45px;
}


@media only screen and (max-width: 500px) {
	.work-cont {
		width: 100%;
		height: auto;
		position: absolute;
		display: flex;
		justify-content: center;
	}
	.cont-cont {
		height: auto;
		width: auto;
		display: flex;
		flex-direction: column;
	}
	.project-header {
		font-size: 40px;
		padding-top: 40px;
		margin-left: 0;
	}
	.cont-cont .project-1 { 
		margin-bottom: 0;
		margin-left: 0;
		padding-left: 11%;
	}
	.cont-cont .project-2 {
		margin-top: 5px;
		margin-left: 0;
		padding-left: 11%;
	}
	.cont-cont .project-1 .project-img img {
		width: 320px;
		height: 270px;
	}
	
	.cont-cont .project-2 .project-img img {
		width: 320px;
		height: 270px;
	}

	.cont-cont .project-desc .project-title {
		font-size: 25px;
		margin-top: 50px;
	}
.button-cont {
	margin-top: 40px;
}

.fullscreen-lang {
	display: none;
}

.lang-con {
	font-size: 17px;
}

.github-button {
	width: 90px;
	height: 35px;
	font-size: 15px;
}
.link-button {
	width: 90px;
	height: 35px;
	font-size: 15px;
	margin-right: 20px;
}
}

	
	

	


















