.c-hero-container {
	height: 73vh;
	text-align: center;
	width: 100%;
}

.c-hero-container .c-fullscreen-bg {
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -100;
	width: auto;
}

.c-hero-container .c-fullscreen-bg .c-fullscreen-bg_video {
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	height: auto;
	left: 50%;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	z-index: 0;
}

.c-text-container {
	color: white;
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
	margin: 14em 0 12.5em 0;
}

.c-mobile-text-container {
	font-size: 25px;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	justify-content: center;
	padding-top: 140px;
}

.c-text-container .c-name-title {
	font-size: 100px;
}

.c-text-container .c-hero-desc {
	font-size: 40px;
	font-weight: 400;
	margin-top: 16px;
}

.c-arrow-container {
	display: flex;
  	justify-content: center;
}

.c-mobile-arrow-container {
	display: flex;
  	justify-content: center;
	margin-top: 8em;
}

.c-arrow,
.c-arrow:before {	
	position: static;
}

.c-arrow {
	border-bottom: 3px white solid;
	border-right: 3px white solid;
	border-top: none;
	height: 30px;
	margin: -20px 0 0 -20px;
	transform: rotate(45deg);
	width: 30px;
}

.c-arrow:before {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: arrow;
	border-bottom: 2px white solid;
	border-left: none;
	border-right: 2px white solid;
	border-top: none;
	bottom: 10%;
	content: '';
	height: 20px;
	margin: -10px 0 0 -10px;
	position: absolute;
	width: 20px;
}

@keyframes arrow {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	  transform: translate(-10px, -10px);
	}
}


