.about-container {
    font-family: 'Open Sans', sans-serif;
    margin-left: 80px;
    display: flex;
    height: 50vh;
}
.about-tab {
    color: #DF1016;
    margin-left: 80px;
    margin-top: 30px;
    display: flex;
}
.about-container .about-desc {
    font-size: 18px; 
    line-height: 30px;
}


//bio text/image
.about-container .photo-box img {
    height: 26em;
    width: 20em;
    position: relative;
    display: flex;
    margin-top: 55px;
}

.about-container .right-side .box {
    margin-top: 30px;
    margin-left: 25px;
    background-color: #DF1016;
    opacity: 95%;
    height: 26em;
    width: 20em;
    display: flex;
    position: absolute;
}
.line-2 {
    background-color: black;
    width: 83%;
    height: 3px;
    margin-left: 50px;
    margin-top: 23px;
    display: flex;
}
.about-container .left-side {
    display: flex;
}
.about-container .right-side {
    display: flex;
}
.contnum {
    color: black;
    margin-right: 15px;
    margin-top: 0;
}

@media only screen and (max-width: 375px) {
    .about-tab {
        width: 100%;
        margin-left: 10px;
        margin-bottom: 0;
    }
    .about-tab .line-2 {
        width: 150px;
    }
    .about-container .left-side .about-desc {
        margin-left: 0px;
        padding-top: 0px;
    }
    .about-container .right-side {
        display: flex;
        margin-left: 500px;
    }
    .about-container {
        margin-left: 40px;
        height: 70vh;
        display: block;
    }
    .about-container .left-side {
        width: 90%;
        display: inline-block;
    }
}


