.about-container {
    font-family: 'Open Sans', sans-serif;
    margin-left: 80px;
    display: flex;
}
.about-tab {
    color: #DF1016;
    margin-left: 80px;
    display: flex;
}
.about-container .about-desc {
    // padding-right: 7em;
    font-size: 18px; 
    line-height: 30px;
}


//bio text/image
.about-container .photo-box img {
    height: 26em;
    width: 20em;
    position: relative;
    display: flex;
    margin-top: 55px;
}

.about-container .right-side .box {
    margin-top: 30px;
    margin-left: 25px;
    background-color: #DF1016;
    opacity: 95%;
    height: 26em;
    width: 20em;
    display: flex;
    position: absolute;
}
.line-2 {
    background-color: black;
    width: 83%;
    height: 3px;
    margin-left: 50px;
    margin-top: 23px;
    display: flex;
}
.about-container .left-side {
    display: flex;
    width: 80%;
}
.about-container .left-side .about-desc {
    margin-left: 80px;
    padding-top: 70px;
    line-height: 30px;
}
.about-container .right-side {
    display: flex;
    width: 55%;
    margin-left: 300px;
}
.contnum {
    color: black;
    margin-right: 15px;
    margin-top: 0;
}

