.about-container {
    font-family: 'Open Sans', sans-serif;
    margin-left: 140px;
    margin-top: 80px;
    display: flex;
}
.about-container .about-tab {
    color: #31C5E8;
}
.about-container .about-desc {
    padding-right: 22em;
    font-size: 18px; 
    line-height: 30px;
}
.about-container .skills {
    font-size: 18px;
    display: inline-flex;
}
.about-container .skill-bar {
    font-size: 18px;
}
.about-container .left-skills {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
}
.about-container .right-skills {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-left: 80px;
}
.about-container .photo-box img {
    height: 18em;
    width: 26em;
}
.about-container .photo-box .box {
    border-color: red;
    width: 30em;
    height: 18em;
}
.about-container .arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #31C5E8;
    display: inline-flex;
    margin-right: 15px;
}


