.contact-cont {
    margin-left: 80px;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.contact-cont .contact-title {
    color: #DF1016;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    display: flex;
}
.contact-git {
    color: #DF1016;
    font-size: 34px;
    margin-top: 20px;
}
.contact-desc {
    line-height: 33px;
    margin-top: 30px;
    font-size: 18px;
}
.contact-button {
    border-color: #DF1016;
    border-width: 2px;
    background-color: white;
    color: #DF1016;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 75px;
    margin-left: 55.5%;
}
.line-3 {
    background-color: black;
    width: 82%;
    height: 3px;
    margin-left: 50px;
    margin-top: 23px;
    display: flex;
}
.contnum {
    color: black;
    margin-right: 15px;
    margin-top: 0;
}
.cont-contain {
    display: flex;
}
.cont-contain .contact-info {
    margin-left: 160px;
    margin-right: 150px;
}
.cont-contain .contact-box {
    margin-left: 100px;
    padding: 20px;
    width: 40%;
}
