input {
    width: 57%;
    border: 1px solid black;
    margin-left: 20px;
    height: 22px;
    margin-bottom: 10px;
    border: 2px solid black;
}
textarea {
    width: 57%;
    margin-left: 34px;
    height: 80px;
    border: 2px solid black;
}
