.footer-cont {
    position: fixed;
    display: inline;
    bottom: 0;
    font-family: 'Open Sans', sans-serif;
}
.icons {
    display: inline-flex;
    flex-direction: column;
}
.icons img {
    margin-bottom: 20px;
    margin-left: 25px;
    width: 36px;
    height: 34px;
}
.vl {
    border-left: 4px solid black;
    height: 200px;
    position: relative;
    left: 3.5%;
    margin-left: 40px;
    bottom: 0;
}
.bottom-cont {
    display: flex;
    margin-left: 40%;
}
.bottom-cont .copyright {
    display: flex;
    margin-left: 740px;
}
