.lang-cont {
    margin-top: 35px;
}
.skills {
    font-size: 18px;
    display: flex;
    margin-top: 20px;
}
.skill-bar {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10%;
}
.skills .left-skills {
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    margin-left: 300px;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    display: inline-block;
}
.skills .right-skills {
    flex-direction: column;
    list-style-type: none;
    margin-left: 550px;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    display: inline-block;
}
.arrow {
    transform: rotate(-45deg);
    border: solid #DF1016;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 20px;
}
.lang-icon {
    margin-left: 8px;
}

@media only screen and (min-width: 480px) {
    .lang-cont {
        margin-top: 80px;
        width: fit-content;
    }
    .skills {
        display: flex;
        margin-top: 20px;
        margin-right: 20px;
    }
    .skill-bar {
        font-size: 20px;
        font-weight: bold;
        margin-left: 16%;
    }
    .skills .left-skills {
        padding-inline-start: 0;
        margin-left: 30px;
        font-size: 16px;
    }
    .skills .right-skills {
        margin-left: 15px;
        font-size: 16px;
    }
    .arrow {
        padding: 3px;
        margin-right: 10px;
    }
    .lang-icon {
        margin-left: 5px;
    }
   
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

