.lang-cont {
    margin-top: 75px;
}
.skills {
    font-size: 18px;
    display: flex;
    margin-top: 20px;
}
.skill-bar {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10%;
}
.skills .left-skills {
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    margin-left: 300px;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    display: inline-block;
}
.skills .right-skills {
    flex-direction: column;
    list-style-type: none;
    margin-left: 550px;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    display: inline-block;
}
.arrow {
    transform: rotate(-45deg);
    border: solid #DF1016;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 20px;
}
.lang-icon {
    margin-left: 8px;
}

