.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border: 1px solid lightgrey;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 1;
}

.nav .nav-list {
  margin-top: 43px;
  margin-right: 120px;
  padding: 0;
  width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .nav-cont-cont .res-button-cont {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav .nav-name {
  color: #DF1016;
  font-weight: 400;
  font-size: 50px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  margin-top: 20px;
  font-family: 'Monoton', cursive;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 19.5em;
}

.nav .nav-list li {
  display: table-cell;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.resume-tab {
  color: black;
  display: inline-block;
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-right: 45px;
}

.resume-tab:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #DF1016;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.resume-tab:hover:after {
  width: 100%;
  left: 0;
}

.nav .nav-list p {
  color: #DF1016;
  font-size: 20px;
  font-weight: bold;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin-right: 10px;
}

.nav .resume-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
  margin-left: 70px;
  margin-top: 30px;
  border-color: #393939;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  width: 5em;
  height: 2.6em;
  border-width: 2px;
  -webkit-box-shadow: 0px 0px .9px 0px;
          box-shadow: 0px 0px .9px 0px;
  cursor: pointer;
}

.nav .resume-button a {
  text-decoration: none;
  color: black;
  margin-left: 2px;
}

@media only screen and (max-width: 375px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
    position: relative;
  }
  .nav .nav-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    margin-left: 45%;
    margin-top: 5px;
    margin-bottom: -5px;
  }
  .nav .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    width: 100%;
  }
  .nav .nav-list li {
    width: 100%;
    padding-bottom: 10px;
    background-color: #DF1016;
    border: 1px solid white;
    border-left: none;
  }
  .nav .nav-list p {
    display: none;
  }
  .nav .resume-tab {
    color: white;
    margin-top: 10px;
    font-size: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .nav .resume-button {
    display: none;
    margin-left: 7em;
    height: 80px;
    width: 0px;
    border-left: 1px solid #DF1016;
    border-right: 1px solid #DF1016;
    border-top: none;
    border-bottom: none;
    margin-top: 0px;
    background-color: #DF1016;
  }
  .nav .resume-button a {
    color: white;
    font-size: 30px;
  }
  .res-button-cont {
    background-color: #DF1016;
  }
}

@media only screen and (max-width: 640px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
    position: relative;
  }
  .nav .nav-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    margin-left: 45%;
    margin-top: 5px;
    margin-bottom: -5px;
  }
  .nav .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    width: 100%;
  }
  .nav .nav-list li {
    width: 100%;
    padding-bottom: 10px;
    background-color: #DF1016;
    border: 1px solid white;
    border-left: none;
  }
  .nav .nav-list p {
    display: none;
  }
  .nav .resume-tab {
    color: white;
    margin-top: 10px;
    font-size: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
  }
  .nav .resume-button {
    display: none;
    margin-left: 7em;
    height: 80px;
    width: 0px;
    border-left: 1px solid #DF1016;
    border-right: 1px solid #DF1016;
    border-top: none;
    border-bottom: none;
    margin-top: 0px;
    background-color: #DF1016;
  }
  .nav .resume-button a {
    color: white;
    font-size: 30px;
  }
}

@media only screen and (max-width: 1440px) {
  .nav {
    display: block;
  }
  .nav .nav-name {
    margin-right: 10em;
  }
  .nav .resume-button {
    margin-right: 50px;
  }
}
/*# sourceMappingURL=nav.css.map */